/* CSS */
.productdetails ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 20px; /* Añadir espacio entre los detalles */
}

.productdetails ul li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px; /* Espacio entre los elementos */
    padding-bottom: 10px; /* Espacio entre la línea y el siguiente elemento */
    border-bottom: 1px solid #e0e0e0; /* Línea separadora con color más sutil */
}

.productdetails ul li h4 {
    font-weight: bold;
    width: 30%;
    text-align: left;
    margin-bottom: 0; /* Eliminar el margen inferior */
    font-size: 16px; /* Tamaño de letra ajustado */
}

.productdetails ul li h6 {
    width: 70%;
    text-align: left;
    margin-bottom: 0; /* Eliminar el margen inferior */
    font-size: 16px; /* Tamaño de letra ajustado */
    color: #555; /* Color de texto ligeramente más oscuro */
}

.productdetails ul li h4:first-child,
.productdetails ul li h6:first-child {
    margin-top: 0; /* Eliminar el margen superior del primer elemento */
}

.productdetails ul li:last-child {
    margin-bottom: 0; /* Eliminar el margen inferior del último elemento */
    border-bottom: none; /* Eliminar la línea separadora del último elemento */
}
