.card-sales-split ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.card-sales-split ul li {
    margin-left: 10px;
}

.card-body .text-center a.btn {
    margin-top: 20px;
}

.card-sales-split ul li {
    margin-left: 10px;
    font-size: 20px;
}

.form-group label {
    font-weight: bold;
}

.table {
    border-collapse: collapse;
    width: 100%;
}

.table th,
.table td {
    border: 1px solid #dee2e6;
    padding: 8px;
    text-align: left;
}

.table th {
    background-color: #f2f2f2;
}

.total-order {
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

.total-order ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.total-order ul li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.total-order ul li h4,
.total-order ul li h5 {
    margin: 0;
}

.btn-submit {
    background-color: #007bff;
    color: #fff;
    border: none;
}

.btn-submit:hover {
    background-color: #0056b3;
}

.btn-cancel {
    background-color: #dc3545;
    color: #fff;
    border: none;
}

.btn-cancel:hover {
    background-color: #bb2d3b;
}
