/* CUMSTON STYLES FOR THIS PAGE */
main .nav-sections {
    position: relative;
    width: 100%;
}

main .nav-sections nav {
    width: 100%;
    padding: 20px 0 1px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-top: 5px solid orange;
}

main .nav-sections nav ul {
    display: flex;
    gap: 15px;
}


main .nav-sections nav ul li {
    list-style: none;
}

.nav-sections nav ul li a {
    padding: 17.5px 20px;
    text-decoration: none;
    font-weight: 600;
    font-size: 17;
    transition: 0.4s;
    color: #000;
}

.nav-sections nav ul li#active a {
    background: orange;
    border-radius: 2px 2px 0 0;
    color: #fff;
}

.nav-sections nav ul li a:hover {
    color: orange;
}

/* STYLS FOR FILTER TO SHOW PRODUCTS */

.nav-sections:nth-child(2) nav { 
    margin-top: 15px;
    border-top: none;
    padding: 15px 15px 2px;
    border-radius: 5px;
}

.nav-sections:nth-child(2) nav ul .select-menu {
    width: 200px;
}

.nav-sections:nth-child(2) nav ul .select-menu .select-btn { 
    display: flex;
    height: 45px;
    background: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #ebebf3;
    font-size: 15px;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

nav ul .select-menu .select-btn i { 
    font-size: 18px;
}

nav ul .select-menu .options { 
    position: relative;
    padding: 20px;
    margin-top: 10px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

nav ul .select-menu .options .option { 
    display: flex;
    height: 55px;
    cursor: pointer;
    padding: 0 16px;
    border-radius: 8px;
    align-items: center;
}

nav ul .select-menu .options .option:hover { 
    background: #f2f2f2;
}


/* .nav-sections:nth-child(2) nav ul select  { 
    
    position: relative;
    border: 1px solid #ebebf3;
    cursor: pointer;
    background: none;
    border-radius: 5px;
    padding: 10px 15px 10px 10px;
} */

/* DETAILS SECTION FOR STOCK PRODUCT */

.productdetails ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 20px; /* Añadir espacio entre los detalles */
}

.productdetails ul li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px; /* Espacio entre los elementos */
    padding-bottom: 10px; /* Espacio entre la línea y el siguiente elemento */
    border-bottom: 1px solid #e0e0e0; /* Línea separadora con color más sutil */
}

.productdetails ul li h4 {
    font-weight: bold;
    width: 30%;
    text-align: left;
    margin-bottom: 0; /* Eliminar el margen inferior */
    font-size: 16px; /* Tamaño de letra ajustado */
}

.productdetails ul li h6 {
    width: 70%;
    text-align: left;
    margin-bottom: 0; /* Eliminar el margen inferior */
    font-size: 16px; /* Tamaño de letra ajustado */
    color: #555; /* Color de texto ligeramente más oscuro */
}

.productdetails ul li h4:first-child,
.productdetails ul li h6:first-child {
    margin-top: 0; /* Eliminar el margen superior del primer elemento */
}

.productdetails ul li:last-child {
    margin-bottom: 0; /* Eliminar el margen inferior del último elemento */
    border-bottom: none; /* Eliminar la línea separadora del último elemento */
}
