<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Primer inicio</title>
    <link rel="stylesheet" href="styles/styles.css">
</head>

<body>

    <div class="container">
        <div class="login-container">
            <div class="logo-container">
                <img src="../imgs/LOGOf.png" alt="Logo" class="logo">
                <h2>Ingresa tu nueva contraseña y confírmala para empezar</h2>
            </div>
            <form>
                <div class="input-container">
                    <input type="password" id="password" placeholder=" ">
                    <label for="password">Nueva contraseña</label>
                </div>
                <div class="input-container">
                    <input type="password" id="confirm-password" placeholder=" ">
                    <label for="confirm-password">Confirmar Contraseña</label>
                </div>
                
                <p class="warning-text">Asegúrate de confirmar para continuar</p>
                <button type="submit" id="btn-login">Aceptar</button>
            </form>
            
        </div>
    </div>

</body>

</html>
